<p>Datacenter support technician, East Bay resident, native Michigander, former Chicagoan, pseudo-programmer, crypto-hipster, amateur photographer, night worker.</p>
<p>I'm aware that mostly static personal websites like this fell out of fashion circa 2000, but one must create.</p>

<% content_for :title do %>
<% end %>
