<div class="col">
  <h2>/ME, ELSEWHERE</h2>
  <ul>
    <li><a href="http://ambiguations.tumblr.com">Tumblr</a></li>
    <li><a href="https://www.facebook.com/kjyaroch">Facebook</a></li>
    <li><a href="http://www.flickr.com/photos/kvyar/">Flickr</a></li>
    <li><a href="http://www.last.fm/user/kyaroch">Last.fm</a></li>
    <li><a href="https://www.goodreads.com/user/show/5957941-kevin-yaroch">Goodreads</a> (sporadically updated)</li>
    <li><a href="https://www.librarything.com/profile/kvyar">LibraryThing</a> (ditto)</li>
  </ul>
</div>
<div class="col">
  <h2>/THIS SITE RUNS ON</h2>
  <ul>
    <li><a href="http://www.sinatrarb.com/">Sinatra</a></li>
    <li><a href="http://unicorn.bogomips.org/">Unicorn</a></li>
    <li><a href="http://wiki.nginx.org/Main">Nginx</a></li>
    <li><a href="https://www.digitalocean.com/">DigitalOcean</a></li>
  </ul>
</div>

<% content_for :title do %>
  Links
<% end %>
