html, body {
   margin: 0;
   padding: 0;
}

div.group {
  max-width: 1000px;
}

.nav {
  position: fixed;
  top: 50px;
  left: 50px;
  text-align: right;
  font-family: 'Cabin', 'Helvetica Neue', sans-serif;
}

.nav ul {
  list-style-type: none;
  margin-top: 1em;
  line-height: 1.5em;
  font-weight: bold;
}

.nav a {
  text-decoration: none;
  color: #000000;
}

div.content {
  position: relative;
  margin: 70px 0 0 280px;
  font-family: 'Helvetica Neue', sans-serif;
}

div.col {
  box-sizing: border-box;
  width: 50%;
  float: left;
}

div.formcontainer {
  max-width: 500px;
  float: left;
  line-height: 1.5em;
}

.formcontainer li {
  float: right;
}

.formcontainer input {
    margin-right: 0;
}

.formcontainer textarea {
  width: 100%;
}

.content ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.content a {
  text-decoration: none;
  color: rgb(128, 128, 128);
}

footer {
  clear: both;
  text-align: center;
  font-size: 0.5em;
  padding-top: 50px;
  color: rgb(100, 100, 100);
}

h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

h2 {
  font-size: 1em;
  margin: 0;
}

p {
  max-width: 800px;
}

p.success {
  clear: both;
  background-color: #58FA58;
  padding: 2px;
  border-radius: 5px;
}

p.failure {
  clear: both;
  background-color: #FA5858;
  padding: 2px;
  border-radius: 5px;
}
